/* LEGEND
0.5 clearfix, container, floats
1. header
2. hero-banner
3. handcrafted-section
4. product-section
5. subscribe-section
6. footer

things to work on:
- resize the header logo sizes
- change the hero fonts
- resize hero pics

*/




/* clearfix, container, floats */
/* to contain the content and centers the section heading texts*/
.container {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

.clear {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*header section */

.aloha-logo {
    float: left;
}

.cart-icon {
    float: right;
}

/* hero section */

/* the hero layers */
.hero-banner {
  background: url(img/banner-girl.png),
              url(img/flower-bkgd.jpg);
  background-repeat: no-repeat;
  height: 80vh;
}

.hero-text {
  position: absolute;
  color: white;
}

.hero-title  {
  font-size: 2em;
  margin-top: 30vh;
  margin-left: 22vw;
}

.hero-sub {

  font-size: 5em;
  margin-top: -3vh;
  margin-left: 22vw;
}

/* section headings. stylizes each section's heading text */

.section-heading {
  font-size: 2.5em;
  margin-top: 2em;
}

/* handcrafted-section */

/* product-section */

.product-description {
  display: inline-block;
  margin-left: 1vw;
  padding-left: 10vw;
}

/* subscribe-section */

.subscribe-section {
  background: url(img/wave-bkgd.jpg);
  background-repeat: no-repeat;
  height: 42vh;

}

/*footer */
